<div id="bottom_links">
	<%= link_to("about us", :controller => "main", :action => "select_main_tab", :c => "main", :a => "about_us") %> | <%= link_to("user agreement", :controller => "main", :action => "select_main_tab", :c => "main", :a => "user_agreement") %> | <%= link_to("privacy policy", :controller => "main", :action => "select_main_tab", :c => "main", :a => "privacy_policy") %>
<br>
Netwirc &copy; 2006
</div>