<div id="home" class="panel"><h1>Welcome to netwIRC!</h1>netwIRC is a tool for creating chatrooms (channels) that are easy to open, bookmark, and customize.  It was designed for the Living Proof Project as a tool for educators and students, but is also ideal for other groups such as living groups, support groups, regional clubs and national/international organizations.<br \><br \>This is the first Beta version.  Many features are not yet activated.  Feel free to join, create and bookmark channels.  You can also add yourself to our notification list, and we will update you when features are added.<br \><br \>IMPORTANT: Please set any educational channels where participants may be underage to Private.  This way, the channel will not appear to the general public and must be linked directly.<br \><br \>Enjoy!</div>