#channel {
	position:  absolute;
	top: 0px;
	left: 0px;
	height: 452px;
	width: 671px;
	background: #FFF;
	overflow:  auto;
	color: #000;
	bodfrder: 1px solid #375580;
	overflow: hidden;
}

#channel_header {
	position: absolute;
	top: 0px;
	height: 75px;
	width: 300px;
	color: #375580;
}

#channel_header_logo img {
	border: 2px solid #375580;
}

#channel_header_info { 
	position: absolute;
	top: 0px;
	left: 108px;
	font-size: 11px;
	width:  434px;
	background: url("/images/topic_border_shading_mid.jpg") repeat-x top;
}

#channel_header_info img {
	float: left;
}

#channel_header_info_text {
	position: absolute;
	top: 10px;
	left: 10px;
	margin-right: 10px;
}

#channel_header_info_topic {
	font-size:  16px;
} 

#channel_header_create_your_own {
	position: absolute;
	left:  545px;
	top:  0px;
	border:  none;
}

#channel_bottom_info {
	position: absolute;
	top: 445px;
	left: 0px;
	color: #fff;
	height: 25px;
	width: 67px;
	background:  url("/images/bottom_border_shading_mid.jpg") repeat-x top;
	padding-left: 5px;
	padding-top:  5px;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
}


#channel_logo {
	position: absolute;
	top: 0px;
	left: 0px;	
}

#channel_menu { 
	position: absolute;
	top: 105px;
	left: 0px;
	color: #375580;
	height: 20px;
	width: 672px;
	background: #fff;
	font-size: 12px;
	overflow: hidden;
	text-align: left;
	border-top: 1px solid #91A6C4;
	border-bottom: 1px solid #91A6C4;
}

#channel_menu a, #channel_menu a:visited, #channel_menu a:hover {
	color: #375580;
	background-color: #FFFFFF;
	disfplay: block;
}

##channel_menu a:hover {
	color: #FFFFFF;
	background-color: #6A88B3;
	display: block;
}

#search_pm { 
	position: absolute;
	left: 0px;
	top: 125px;
	width: 175px;
	background-color: #68c;
	font-size: 12px;
	height: 475px;
	overflow: auto;
	text-align: center;
}

#pm_room {
	position: absolute;	
	top: 90px;
	width: 705px;
	height: 455px;
}

#pm_room_member_list { 
	position: absolute;
	left: 175px;
	top: 35px;
	width: 103px;
	background-color: #ddd;
	font-size: 12px;
	height: 385px;
	line-height: 22px;
	overflow: auto;
}

#chat_room {
	position: absolute;	
	top: 125px;
	width: 400px;
	height: 295px;
	border-bottom: 1px solid #ddd;
}

#chat_room_shadow {
	position: absolute;
	top: 4px;
	left: 0px;
	width: 672px;
	height: 290px;
	background: url("/images/chat_box_shadow.jpg") no-repeat top left;
}

#chat_room_member_list { 
	position: absolute;
	left: 505px;
	top: 15px;
	width: 161px;
	color:  #000;
	background-color: #fff;
	font-size: 12px;
	height: 285px;
	line-height: 22px;
	overflow:  auto;
	overflow-y: scroll;
	overflow-x:  hidden;
	padding-left:  5px;
}

#chat_room_member_list a, #chat_room_member_list a:visited, #chat_room_member_list a:hover {
	color: #375580;
	background: transparent;
}

#chat_room_conversation {
	position: absolute;	
	left: 8px;
	top: 15px;
	background-color: #fff;
	color:  #000;
	font-size: 12px;
	width: 500px;
	height: 235px;
	overflow:  auto;
	overflow-y: scroll;
	overflow-x:  hidden;
	padding-left:  0px;
}

#private_message_conversation {
	position: absolute;	
	left: 10px;
	top: 100px;
	background-color: #fff;
	color:  #000;
	font-size: 12px;
	width: 660px;
	height: 300px;
	overflow:  auto;
	overflow-y: auto;
	overflow-x:  hidden;
	padding-left:  0px;
}

#chat_room_type_box {
	position: absolute;
	top: 250px;
	left: 8px;
	width: 515px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #fff;
	padding-left: 0px;
}

#private_message_type_box {
	position: absolute;
	top: 410px;
	left: 0px;
	width: 625px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #fff;
	padding-left: 0px;
}

#chat_room_type_box_entry_field {
	position: absolute;
	top: 2px;
	left: 0px;
	font-size: 12px;
	width: 490px;
	height:20px;
	margin-top: 4px;
	margin-left: 0px;
	font-size: 12px;
}

#private_message_type_box_entry_field {
	position: absolute;
	top: 2px;
	left: 5px;
	font-size: 12px;
	width: 625px;
	height:20px;
	margin-top: 4px;
	margin-left: 0px;
	font-size: 12px;
}

#channel_transcripts {
	position: absolute;	
	left: 0px;
	top: 0px;
	font-size: 12px;
	line-height: 18px;
	overflow: auto;	
}

#browse_categories {
	position: absolute;
	left: 65px;
	top: 100px;
	font-size: 14px;
}

#browse_top_10 {
	position: absolute;
	left: 265px;
	top: 100px;
	font-size: 14px;
}

#browse_top_favorites {
	position: absolute;
	left: 465px;
	top: 100px;
	font-size: 14px;
}

#channel_search {
	position: absolute;
	top: 50px;
}

#search_by_name {
	position: absolute;
	left: 50px;
	top: 50px;
}

#search_by_topic {
	position: absolute;
	left: 250px;
	top: 50px;
}

#search_by_description {
	position: absolute;
	left: 450px;
	top: 50px;
}

#channel_create {
	position: absolute;
	left: 25px;
	top: 125px;
}

#channel_upload_logo {
	position:  absolute;
	top:  150px;
	left:  350px;
	width:  500px;
}

.user {
	background:  #eee;
}

#history {
	position: absolute;
	top: 500px;
	left: 35px;
	color: #000;
	width: 124px;
}

#history a, #history a:visited {
	color: #337788;
	background-color: #FFFFFF;
	display: block;
}

#history a:hover {
	color: #000;
	background-color: #6A88B3;
	display: block;	
}

#popular {
	position: absolute;
	top: 325px;
	left: 35px;
	color: #000;
	width: 124px;
}

#popular a, #popular a:visited {
	color: #337788;
	background-color: #FFFFFF;
	display: block;
}

#popular a:hover {
	color: #000;
	background-color: #6A88B3;
	display: block;	
}

#channel_bottom_info {
	position: absolute;
	left: 0px;
	top: 425px;
	width: 665px;
	height: 20px;
	color: #375580;
	background: url("/images/bottom_border_shading_mid.jpg") repeat-x top;
}

#manage_ops {
	position: absolute;
	left: 30px;
	top: 100px;
	color: #375580;
	font-weight: bold;
}

#manage_ops a, #manage_ops a:visited {
	color: #375580;
	background: #FFFFFF;
	font-weight: normal;
}

#manage_ops a:hover {
	color: #375580;
	background: #FFFFFF;
}

tr.odd {
	background:  #DDF;	
}

tr.even {
	background:  #FFF;
}

#my_channels {
	position: absolute;
	left: 25px;
	top: 100px;
}

#channel_flag {
	position: absolute;
	top: 75px;
	left: 30px;
}

#channel_edit_settings {
	position: absolute;
	top: 125px;
	left: 30px;
}

#channel_upload_picture {
	position: absolute;
	top: 125px;
	left: 30px;
}