<fb:dashboard>
  <fb:action href="?id=1234567">My Channels</fb:action>
  <fb:action href="new.php">My Friends' Channels</fb:action>
  <fb:help href="help.php" title="Need help">Help</fb:help>
  <fb:create-button href="new.php">Create a New Channel</fb:create-button>
</fb:dashboard>
<br>
<fb:profile-pic uid=701428></fb:profile-pic><fb:name uid=701428 useyou=false></fb:name>
<br>
<fb:iframe src="http://www.netwirc.com" smartsize="true"></fb:iframe>