<div id="channel_header_info">
	<%= image_tag("topic_border_shading_left.jpg") %>
	<span id="channel_header_info_text">
		<span id="channel_header_info_topic"><%= @channel.topic %></span><br /><br />
		<%= @channel.description %>
	</span>
	<%= image_tag("topic_border_shading_right.jpg", :style => "float: right;") %>
</div>