<% if !latest_messages.nil? %>
  <% for m in latest_messages %>
    <% if !m.user %>
        <script>
        add_message('<%=m.id%>', '' , '<%=m.created_at.strftime(" - %I:%M%p") %>', '<%=m.comment.gsub(/'/){"\\'"}%>');
        </script>
    <% else %>
        <script>
        add_message('<%=m.id%>', '<%=m.user.name%>' , '<%=m.created_at.strftime(" - %I:%M%p") %>', '<%=m.comment.gsub(/'/){"\\'"}%>');
        </script>

    <% end %>
  <% end %>
<% end %>
