<%= link_to(my_channels_opped.channel.name, :controller => "channel", :action => "visit", :id => my_channels_opped.channel.id) %> | <%= link_to("add/remove bans", :controller => "channel", :action => "manage_bans", :id => my_channels_opped.channel.id) %> | <%= link_to("settings", :controller => "channel", :action => "settings", :id => my_channels_opped.channel.id) %> | <%= link_to ("view logs", :controller => "channel", :action => "logs_by_day", :id => my_channels_opped.channel.id) %> <br />