<div id="pm_room">
	<div id="pm_room_member_list"></div>
	<%= render(:partial => 'channel/chat_room_conversation') %>
	<%= render(:partial => 'channel/chat_room_type_box', :channel => @channel, :user => @user) %>
</div>