<% if @results.empty? %>
  '<%=h @phrase %>' not found!
<% else %>
<% unless @phrase.length == 0 %>
  '<%=h @phrase %>' found in
  <% for result in @results %>
  	<br><%= link_to(result.name, { :controller => "user", :action => "profile", :id => result.id }) %> | <%= link_to_remote("give ops",
									:update => "current_ops",
									:url => { :controller => "channel", :action => "manage_ops_add", :channel_id => @channel_id, :op_id => result.id }) %>
  <% end %>
<% end %>
<% end %>